<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '353686395102350',
      xfbml      : true,
      version    : 'v2.11'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<img class="responsive-img" src="/images/cabecera-mano2.jpg" width="100%">
<div class="container">
<div class="row">
  <h2 class="center-align">Log In</h2>
  <form class="col s12" action="/auth/login" method="post">
    <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="username" placeholder="Email">

      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" placeholder="Password">

      </div>
    </div>
    <div class="center-btn">
      <button class="btn waves-effect waves-light right" type="submit" name="action" value="Submit">Submit
        <i class="material-icons right">send</i>
      </button>
      <br></br>
    </div>
    <br><br>

    <div class="">
<div class="fb-login-button" data-width="130" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
      </div>
    </div>

    <a href="/auth/facebook">Login With Facebook</a>
  </form>
</div>
</div>
