<img class="responsive-img" src="/images/cabecera-mano2.jpg" width="100%">
<div class="container">
<h2 class="center-align">Join</h2>

  <form class="col s12" action="/auth/signup" method="post" enctype="multipart/form-data">
      <input type="file" name="photo">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" name="name" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="lastName" type="text" class="validate" name="lastName" placeholder="Lastname">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" name="username" placeholder="Username">
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" placeholder="Password">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
      </div>
    </div>


        <br>
    <div id="map"></div>
    <br>
    <div class="center-btn">
      <button class="btn waves-effect waves-light right" type="submit" name="action" value="Submit">Submit
        <i class="material-icons right">send</i>
      </button>
      <br></br>
    </div>

    <input id="latitude" name="latitude" type="text">
    <input id="longitude" name="longitude" type="text">
  </form>
</div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApXzFjm59CO5m3ox-cr3w3AiiVnsBHzfQ&libraries=places"></script>
<script type="text/javascript" src="/javascripts/mapDrawAll.js"></script>
