<img class="responsive-img" src="../images/letitflow-home.jpg" width="100%">
<div class="container">
  <h2 class="center-align">LET IT FLOW is a platform that connects people that are are willing to reduce their ecological footprint through sustainable consumption.</h2>
</div>
<div class="row light-green">
  <div class="col s2">
  </div>


  <div class="col s4">
    <div class="center promo">
      <br>
      <i class="material-icons large white-text">group</i>
      <h4 class="promo-caption white-text">Made for users</h4>
      <p class="light center white-text">Our goal is to reduce the disproportionate consumption of resources so this application is made by and for the user.</p>
      <br>
    </div>
  </div>

  <div class="col s4">
    <div class="center promo">
      <br>
      <i class="material-icons large white-text">settings</i>
      <h4 class="promo-caption white-text">Easy to use</h4>
      <p class="light center white-text">Whe have made a very simple application where you can let things or services from other people, and offer yours.</p>
      <br>
    </div>
  </div>
  <div class="col s2">
  </div>
</div>

<div class="container">
  <h2 class="center-align large light-green-text">The manufacture of new products involves a huge amount of energy, water and waste generation.
          Reusing goods instead of buying new ones contributes to a more sustainable lifestyle and leads to major benefits for the environment.</h2>
<br>
  <h2 class="center-align light-green-text">If you want to reduce your impact, just create an account and start sharing.</h2>
  <br>
</div>
