<img class="responsive-img" src="../images/letitflow-home.jpg" width="100%">
<h5 class="center-align">FLOW is a platform that connects people that are are willing to reduce their ecological footprint through sustainable consumption.</h5>

<h5 class="center-align">The manufacture of new products involves a huge amount of energy, water and waste generation.
Reusing goods instead of buying new ones contributes to a more sustainable lifestyle and leads to major benefits for the environment.</h5>

<h5 class="center-align">If you want to reduce your impact, just create an account and start sharing.</h5>
