<img class="responsive-img" src="/images/cabecera-mano2.jpg" width="100%">
<div class="container">
<h2 class="center-align">My messages</h2>
<br>
<ul class="collection">
  <li class="collection-item avatar">
  <% message.forEach((message) => { %>
  <i class="material-icons">email_outline</i>
  <h5>From: <%= message.from.username %></h5>
  <p>Message: <%= message.text %></p>
  <br>
  <% }) %>
  </li>
</ul>
</div>
<br>
<br>
