<img class="responsive-img" src="../images/cabecera-mano2.jpg">
<div class="container">
<h2 class="center-align">My messages</h2>

<ul>
  <% message.forEach((message) => { %>
  <li><h5>From: <%= message.from %></h5></li>
  <li><p>Message: <%= message.text %></p></li>
  <% }) %>
</ul>

<div class="container">
  <div class="center-btn">
    <a href="../../message/new" class="btn btn-success grey"><span class="fa fa-sign-in"></span>NEW MESSAGE</a><br></br>
  </div>
</div>
</div>
