<img class="responsive-img" src="/images/cabecera-mano2.jpg" width="100%">
<div class="container">
<h2 class="center-align">My messages</h2>

<ul>
  <% message.forEach((message) => { %>
  <li><h5>From: <%= message.from %></h5></li>
  <li><p>Message: <%= message.text %></p></li>
  <% }) %>
</ul>
</div>
