<img class="responsive-img" src="/images/cabecera-mano2.jpg" width="100%">
<div class="container">
<div class="row">
  <h2 class="center-align">New Message</h2>
  <form class="col s12" action="/message/new" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input id="to" type="text" class="validate" name="to" placeholder="To:" value="<%= user.username %>">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="text" type="textarea" class="validate" name="text" placeholder="Message"></textarea>
      </div>
    </div>
    <div class="center-btn">
      <button class="btn waves-effect grey right" type="submit" name="action" value="Submit">Submit
        <i class="material-icons right">send</i>
      </button>
      <br></br>
    </div>
  </form>
</div>
</div>
