<div class="container">
<div class="row">
  <h2 class="center-align teal-text">New Message</h2>
  <form class="col s12" action="/auth/signup" method="post">

    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" name="name" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="lastName" type="text" class="validate" name="lastName" placeholder="Lastname">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" name="username" placeholder="Username">
      </div>
    </div>
  </form>
</div>
</div>
