<!DOCTYPE html>
<html>
  <head>
    <title>
      LET IT FLOW
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="/vendor/jquery/jquery.min.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/vendor/materialize/css/materialize.css'>
    <script src="/vendor/materialize/js/materialize.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>
  <body>
  <% if(user) { %>
      <nav class="grey darken-2" role="navigation">
        <div class="nav-wrapper container">
          <img src="/images/letitflow-logo3.png" id="logo-container" href="/" class="brand-logo center-align white-text">
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect grey btn" href="/auth/logout">Log out</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="/user/profile">My profile</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="/message">My messages</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="/product">Categories</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="/">Home</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="side-nav">
                      <li><a href="/product">Categories<i class="material-icons">event_available</i></a></li>
                      <li><a href="/">Home<i class="material-icons">home</i></a></li>
                      <li><a href="/user/profile">Profile<i class="material-icons">person</i></a></li>
                      <li><a class="waves-effect waves-light btn" href="/auth/logout">Log out</a></li>
                    </ul>
                  </div>
                </nav>
            <% } else { %>
                <nav class="grey darken-2" role="navigation">
                  <div class="nav-wrapper container">
                    <img src="/images/letitflow-logo3.png" id="logo-container" href="/" class="brand-logo center-align white-text">
                    <ul class="right hide-on-med-and-down">
                      <li><a class="waves-effect grey btn" href="/auth/signup">Sign Up</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                      <li><a href="/auth/login">Log in</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                      <li><a href="/auth/login">Log in</a></li>
                      <li><a class="waves-effect waves-light btn" href="/auth/signup">Sign Up</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                  </div>
                </nav>
          <% } %>
            <%- body -%>
            </body>
                </html>
