<div class="container">
<form id="form" action="/product/create" method="POST" enctype="multipart/form-data">
  <label>Name</label><br>
  <input type="text" name="name" placeholder="Name">
  <br><br>
  <label>Description</label><br>
  <input type="text" name="description" placeholder="Description">
  <br><br>
  <label>Category</label><br>
  <input type="text" name="category" placeholder="Category">
  <br><br>
  <label>Is available</label><br>
  <input type="text" name="city" placeholder="Is available">
  <br><br>
  <div class="container">
  <div class="center-btn right">
    <button class="btn waves-effect waves-light" type="submit" name="action">CREAR PRODUCTO
   <i class="material-icons right">send</i></button>
   <br>
  </div>
</div>
  <br></br>
</form>
</div>
