<h1>Categories</h1>
<div class="col-md-4">
  <a href="/product/entertainment"><h5>Entertainment</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/technology"><h5>Technology</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/sports"><h5>Sports</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/home"><h5>Home</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/clothes"><h5>Clothes</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/vehicles"><h5>Vehicles</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/children"><h5>Children</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/services"><h5>Services</h5></a>
</div>
<div class="col-md-4">
  <a href="/product/others"><h5>Others</h5></a>
</div>
