<img class="responsive-img" src="/images/cabecera-mano2.jpg" width="100%">
<div class="container">
<h2 class="fa fa-user center-align">Categories</h2>
<br>
<div class="row">
  <div class="col s4 center-align">
      <a href="/product/entertainment"><img class="responsive-img" src="/images/entertainment.jpg"></a>
    </div>
  <div class="col s4 center-align">
      <a href="/product/home"><img class="responsive-img" src="/images/home.jpg"></a>
    </div>
  <div class="col s4 center-align">
      <a href="/product/sports"><img class="responsive-img" src="/images/sports.jpg"></a>
    </div>
</div>


<div class="row">
  <div class="col s4 center-align">
      <a href="/product/technology"><img class="responsive-img" src="/images/technology.jpg"></a>
    </div>
  <div class="col s4 center-align">
      <a href="/product/clothes"><img class="responsive-img" src="/images/clothes.jpg"></a>
    </div>
  <div class="col s4 center-align">
      <a href="/product/vehicles"><img class="responsive-img" src="/images/vehicles.jpg"></a>
    </div>
</div>

<div class="row">
  <div class="col s4 center-align">
      <a href="/product/children"><img class="responsive-img" src="/images/children.jpg"></a>
    </div>
<div class="col s4 center-align">
    <a href="/product/services"><img class="responsive-img" src="/images/services.jpg"></a>
  </div>
<div class="col s4 center-align">
    <a href="/product/others"><img class="responsive-img" src="/images/others.jpg"></a>
  </div>
</div>

<div class="container">
  <div class="center-btn">
    <a href="/product/create" class="btn btn-success grey"><span class="fa fa-sign-in"></span>ADD NEW PRODUCT</a><br></br>
  </div>
</div>
</div>
