<h2 class="center-align teal-text"> <%= category %> </h2>


          <h6 class="teal-text center-align"><u><b>PRODUCTO</b></u></h6>
          <p><b>PAS</b></p>
          <h6 class="teal-text"><b>Descripción:</b></h6>
          <p>PAS</p>
